In [66]:
import numpy as np 
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')

In [67]:
import seaborn as sns
sns.set_palette('Set2')

import matplotlib.pyplot as plt
%matplotlib inline

In [205]:
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.metrics import accuracy_score
from sklearn.svm import LinearSVC, SVC

In [69]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()

In [70]:
import requests
import json
import datetime
import time

In [71]:
import os
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar

In [72]:
from config import yelp_api_key
from config import darksky_api_key

In [456]:
# Import Sales Data
file = 'bar_x_sales_export.csv'

In [457]:
# Analysis Dates
start_date = '2017-01-01' # Start Date Inclusive
end_date = '2019-06-01' # End Date Exclusive

In [458]:
search_business = 'Jupiter Disco'
location = 'Brooklyn, NY'

## Import / Clean / Prep File

In [459]:
def import_parse(file):

    data = pd.read_csv(file, index_col = 'date', parse_dates=True)
    df = pd.DataFrame(data)
    
    # Rename Column to 'sales'
    df = df.rename(columns={df.columns[0]: 'sales'})
    
    # Drop NaN
    #df = df.query('sales > 0').copy()
    df.fillna(0, inplace=True)
    
    print(f'"{file}" has been imported + parsed. The file has {len(df)} rows.')
    return df

df = import_parse(file);

"bar_x_sales_export.csv" has been imported + parsed. The file has 891 rows.

In [460]:
def filter_df(df, start_date, end_date):
    
    return df[(df.index > start_date) & (df.index < end_date)]
    
df = filter_df(df, start_date, end_date)

In [461]:
def daily_average_matrix_ann(df):
    
    matrix = df.groupby([df.index.dayofweek, df.index.month, df.index.year]).agg({'sales': 'mean'})
    matrix = matrix.rename_axis(['day', 'month', 'year'])
    return matrix.unstack(level=1)

daily_average_matrix_ann(df)

              sales                                                 \
month            1           2          3          4            5
day year
0   2017   516.3860   647.48250  1183.9425   491.2050   543.816000
    2018   398.2020   407.79750  1252.3050   313.9940   475.595000
    2019   449.1125   381.10750   625.6675   390.3160   440.072500
1   2017   878.5540   688.02000   819.7400   780.1650   727.966000
    2018   808.3400  1208.02000   610.0475   775.2675   759.864000
    2019   613.3100   580.39750   686.0950   934.6300   815.617500
2   2017   829.3400  1149.60250  1090.1660   858.7200   955.394000
    2018   725.4540  1342.47750   717.5500   995.0500   776.454000
    2019   735.0040   649.08750  1626.9850  1120.8225   716.862000
3   2017  1355.0125  1357.96000   908.7360  1166.2575  1293.222500
    2018  1183.1725  1066.41475  1345.5960  1346.2375  1545.610505
    2019  1157.4340  1268.69000  1112.1200  1728.0250  1403.620000
4   2017  2827.9725  3204.24750  3060.9860  2949.0750  3289.650000
    2018  3065.4600  4349.03750  4042.1680  4316.6850  3706.467500
    2019  3487.0125  4170.30000  3691.6700  4244.4200  3902.230000
5   2017  2920.9700  3991.26250  3673.6275  3290.3240  3079.322500
    2018  4337.5900  4444.53750  4625.7580  4243.9700  3694.255000
    2019  3573.1525  4498.55500  4450.1420  4623.2500  4610.585000
6   2017  1074.6900  1550.90000   643.9475   761.9100  1310.082500
    2018   678.0800  1070.21750   705.7325   744.2500  1853.280000
    2019   743.0425   747.23250   799.1100   662.0525  1955.124000

                                                                           \
month              6            7            8            9            10
day year
0   2017   555.365000  1212.406000   533.020000   418.412500   529.060000
    2018  1573.685511   376.968794   690.178243   455.241160   902.620590
    2019          NaN          NaN          NaN          NaN          NaN
1   2017   729.102500   691.960000   779.938000   496.820000  1074.068000
    2018  1676.605227  1065.680822   800.896800   715.204696   737.921757
    2019          NaN          NaN          NaN          NaN          NaN
2   2017   830.735000   637.622500   665.670000   645.045000   876.327500
    2018  1161.861426  1137.068591   971.995906  1286.541929  1667.758492
    2019          NaN          NaN          NaN          NaN          NaN
3   2017  1025.390000  1074.647500  1182.468000  1332.415000   762.650000
    2018  1236.101679  1115.645611  1361.021963  1242.712945  1014.373708
    2019          NaN          NaN          NaN          NaN          NaN
4   2017  2912.632000  2128.480000  3182.207500  3674.406000  3193.820000
    2018  4080.084032  3189.473347  3908.243814  4170.388811  3877.366825
    2019          NaN          NaN          NaN          NaN          NaN
5   2017  3354.785000  2944.338000  2830.012500  3136.190000  3370.617500
    2018  4341.739711  3875.997336  4075.045577  3768.836186  4195.143800
    2019          NaN          NaN          NaN          NaN          NaN
6   2017   675.692500   605.934000   533.185000   941.972500   529.680000
    2018   652.400316   892.488110   726.787170  1332.109718   418.156200
    2019          NaN          NaN          NaN          NaN          NaN


month              11           12
day year
0   2017   735.852500   496.392500
    2018  1154.696929  1207.864237
    2019          NaN          NaN
1   2017   631.415000   585.697500
    2018   903.176949   605.239133
    2019          NaN          NaN
2   2017  1548.482000   820.735000
    2018  1003.392882   857.146338
    2019          NaN          NaN
3   2017  1256.718000  1510.247500
    2018   881.618083  1706.367905
    2019          NaN          NaN
4   2017  3979.102500  2900.490000
    2018  3946.826055  3608.728645
    2019          NaN          NaN
5   2017  4209.540000  2735.686000
    2018  4704.352842  3229.293940
    2019          NaN          NaN
6   2017   602.042500   940.694000
    2018   726.923393   862.469685
    2019          NaN          NaN

## Pull Weather Data

### Latitude + Longitude from Yelp API

In [79]:
host = 'https://api.yelp.com'
path = '/v3/businesses/search'

search_limit = 10

# Yelp Authorization Header with API Key
headers = {
        'Authorization': 'Bearer {}'.format(yelp_api_key) 
    }

# Build Requests Syntax with Yelp Host and Path and URL Paramaters
# Return JSON response
def request(host, path, url_params=None):
    
    url_params = url_params or {}
    url = '{}{}'.format(host, path)

    response = requests.get(url, headers=headers, params=url_params)
    
    return response.json()

# Build URL Params for the Request and provide the host and path
def search(term, location):
    
    url_params = {
        'term': term.replace(' ', '+'),
        'location': location.replace(' ', '+'),
        'limit': search_limit
    }
    
    return request(host, path, url_params=url_params)

# Return Coordinates if Exact Match Found
def yelp_lat_long(business, location):
    
    # Call search function here with business name and location
    response = search(business, location)
    
    # Set state to 'No Match' in case no Yelp match found
    state = 'No Match'
    possible_matches = []
    
    # Check search returns for match wtith business
    for i in range(len(response['businesses'])):

        # If match found:
        if response['businesses'][i]['name'] == business:

            # Local variables to help navigate JSON return
            response_ = response['businesses'][0]
            name_ = response_['name']

            print(f'Coordinates found for {name_}')
            state = 'Match Found'
            #print(response['businesses'][0])
            return response_['coordinates']['latitude'], response_['coordinates']['longitude']

        else:
            
            # If no exact match, append all search returns to list
            possible_matches.append(response['businesses'][i]['name'])
    
    # If no match, show user potential matches
    if state == 'No Match':
        
        print('Exact match not found, did you mean one of the following? \n')
        
        for possible_match in possible_matches:
            print(possible_match)
            
        return None, None

lat, long = yelp_lat_long(search_business, location)
#print(f'Latitude: {lat}\nLongitude: {long}')

Coordinates found for Jupiter Disco

### Darksky API Call

In [15]:
# Create List of Dates of target Weather Data
def find_dates(start_date, end_date):
    
    list_of_days = []
    daterange = pd.date_range(start_date, end_date)
    for single_date in daterange:
        list_of_days.append(single_date.strftime("%Y-%m-%d"))
    
    return list_of_days

In [16]:
# Create URL to make API Call
def build_url(api_key, lat, long, day):
    
    _base_url = 'https://api.darksky.net/forecast/'
    _time = 'T21:00:00'
    _url = f'{_base_url}{api_key}/{lat},{long},{day + _time}?America/New_York&exclude=flags'
    return _url

def make_api_call(url):
    
    r = requests.get(url)
    return r.json()

In [17]:
# Parse Data from API Call into Dictionaries
def parse_data(data):

    time = datetime.datetime.fromtimestamp(data['currently']['time']).strftime('%Y-%m-%d')
    
    try:
        entry = {'date': time,
                 'temperature': data['currently']['temperature'],
                 'apparent_temperature': data['currently']['apparentTemperature'],
                 'precip_prob': data['currently']['precipProbability'],
                 'summary': data['currently']['icon'],
                 'moonphase': data['daily']['data'][0]['moonPhase']}
    
    except KeyError:
        
        entry = {'date': time,
                 'temperature': 'NaN',
                 'apparent_temperature': 'NaN',
                 'precip_prob': 'NaN',
                 'summary': 'NaN',
                 'moonphase': 'NaN'}
    
    return entry

In [18]:
# Create List of Weather Data Dictionaries & Input Target Dates
def weather_call(start_date, end_date, _lat, _long):
    
    weather = []
    list_of_days = find_dates(start_date, end_date)
    
    for day in list_of_days:
        
        data = make_api_call(build_url(darksky_api_key, _lat, _long, day))
        
        weather.append(parse_data(data))
    
    return weather

result = weather_call(start_date, end_date, lat, long);

In [462]:
# Build DataFrame from List of Dictionaries
def build_weather_df(api_call_results):

    df = pd.DataFrame(api_call_results)

    df['date'] = pd.to_datetime(df['date'])
    df['day_of_week'] = df['date'].dt.weekday
    df.set_index('date', inplace=True)
    
    #Cast required columns as floats
    df[['temperature', 'apparent_temperature', 'precip_prob', 'moonphase']] = df[['temperature', 'apparent_temperature', 'precip_prob', 'moonphase']].astype(float)
    
    # Fill Temperature NaN with previous day
    df['temperature'].fillna(method='ffill',inplace=True)
    
    #Fill Apparent Temperature with previous day
    df['apparent_temperature'].fillna(method='ffill', inplace=True)
    
    #Fill moonphase with previous day
    df['moonphase'].fillna(method='ffill', inplace=True)
    
    #Fill Precipitation Probability with previous day
    df['precip_prob'].fillna(method='ffill', inplace=True)
    
    return df

weather_df = build_weather_df(result);

In [463]:
def join_sales_weather(sales_df, weather_df):
    
    df = pd.merge(sales_df, weather_df, how='left', on='date')
    return df

df = join_sales_weather(df, weather_df)

In [539]:
dfx = df.copy(deep=True)

### Feature Engineering

In [540]:
# Check for Holiday & $0 in Sales
# Pass Other Closed Dates here
additional_closed_dates = ['2018-12-24', '2017-12-24', '2017-10-22']
closed_dates = [pd.to_datetime(date) for date in additional_closed_dates]

def add_features(df):
    
    try:
        # CLOSED FEATURE
        cal = calendar()
        # Local list of days with zero sales
        potential_closed_dates = df[df['sales'] == 0].index
        # Enocodes closed days with 1
        df['closed'] = np.where((((df.index.isin(potential_closed_dates)) & \
                                  (df.index.isin(cal.holidays(start_date, end_date)))) | df.index.isin(closed_dates)), 1, 0)
    except:
        # If no Sales Data available (Predict)
        df['closed'] = 0
    
    # POOR WEATHER FEATURE
    poor_weather_list = ['rain', 'snow', 'sleet']
    df['summary'] = df['summary'].apply(lambda x: x.split('-'))
    df['poor_weather'] = np.where(df['summary'].apply(lambda x: np.any(np.in1d(x, poor_weather_list))), 1, 0)
    df = df.drop(['summary'], axis=1)
    
    # THREE DAY WEEKEND FEATURE
    sunday_three_days = [date + pd.DateOffset(-1) for date in cal.holidays(start_date, end_date) if date.dayofweek == 0]
    df['sunday_three_day'] = np.where(df.index.isin(sunday_three_days), 1, 0)
    
    return df

dfx = add_features(dfx)

In [541]:
def add_daily_dummies(df):
    
    daily_dummies = pd.get_dummies(df['day_of_week'], prefix='day')
    
    df = pd.concat([df, daily_dummies], axis=1)
    df = df.drop(['day_of_week'], axis=1)
    
    return df

dfx = add_daily_dummies(dfx)

In [542]:
apply_interactions = True

def add_interactions(df):
    
    if apply_interactions:
        
        for i in [col for col in df.columns if col.startswith('day_')]:
            
            col_name = i + '_X_' + 'poor_weather'
            
            df[col_name] = df[i] * df['poor_weather']
        
        return df

dfx = add_interactions(dfx)

In [543]:
dfx.isnull().sum()

sales                   0
apparent_temperature    0
moonphase               0
precip_prob             0
temperature             0
closed                  0
poor_weather            0
sunday_three_day        0
day_0                   0
day_1                   0
day_2                   0
day_3                   0
day_4                   0
day_5                   0
day_6                   0
day_0_X_poor_weather    0
day_1_X_poor_weather    0
day_2_X_poor_weather    0
day_3_X_poor_weather    0
day_4_X_poor_weather    0
day_5_X_poor_weather    0
day_6_X_poor_weather    0
dtype: int64

## Test / Train / Split

In [544]:
def prepare_data(df):
    
    # Separate Target & Features
    y = df['sales']
    features = df.drop(['sales'], axis=1)
    
    # Test / Train / Split
    train_date_start = '2017-01-01'
    train_date_end = '2018-12-31'
    
    X_train = features[train_date_start:train_date_end]
    X_test = features[pd.to_datetime(train_date_end)+pd.DateOffset(1):]
    
    y_train = y[train_date_start:train_date_end]
    y_test = y[pd.to_datetime(train_date_end)+pd.DateOffset(1):]
    
    #Scale Data
#     scaler = StandardScaler()
#     X_scaler = scaler.fit(X_train)
#     X_train = pd.DataFrame(data = X_scaler.transform(X_train), columns=features.columns)
#     X_test = pd.DataFrame(data = X_scaler.transform(X_test), columns=features.columns)
    
    print('Train set: ', len(X_train))
    print('Test set: ', len(X_test))
    
    return X_train, X_test, y_train, y_test
    
X_train, X_test, y_train, y_test = prepare_data(dfx)

Train set:  729
Test set:  151

In [545]:
cols_to_drop = ['temperature', 'moonphase', 'poor_weather', 'precip_prob', 'day_0', 'day_0_X_poor_weather']

def feature_selection(df):
    
    df = df.drop(cols_to_drop, axis=1)
    
    return df

X_train = feature_selection(X_train)
X_test = feature_selection(X_test)

In [546]:
def linear_regression_model(X_train, y_train):
    
    lr = LinearRegression()
    lr_clf = lr.fit(X_train, y_train)
    
    return lr_clf

In [547]:
lr_clf = linear_regression_model(X_train, y_train)

In [548]:
def lr_score(clf, X_test, y_test):
    
    score = clf.score(X_test, y_test)
    
    print('R-Squared:  ', score, '\n')
    print('Intercept:  ', clf.intercept_, '\n')
    print('Coefficients:  \n')
    
    for index, col_name in enumerate(X_test.columns):
        print(col_name, '-->', clf.coef_[index])
        
lr_score(lr_clf, X_test, y_test)

R-Squared:   0.8208877029844879

Intercept:   733.8145180882542

Coefficients:

apparent_temperature --> 0.07306238638493615
closed --> -1059.9449139877122
sunday_three_day --> 1584.0805047679003
day_1 --> 118.48951673354979
day_2 --> 244.37849471284707
day_3 --> 502.3232704414501
day_4 --> 2797.0814361341872
day_5 --> 3014.783414199912
day_6 --> -57.79829123494159
day_1_X_poor_weather --> -247.4158310771797
day_2_X_poor_weather --> 64.17860101505023
day_3_X_poor_weather --> -44.471754962573705
day_4_X_poor_weather --> -605.6507489305575
day_5_X_poor_weather --> -421.3489952017143
day_6_X_poor_weather --> 101.91988173501477

In [549]:
def predict_df(clf, date_1, date_2):
    
    lat, long = yelp_lat_long(search_business, location)
    
    weather_df = build_weather_df(weather_call(date_1, date_2, lat, long))
    df = feature_selection(add_interactions(add_daily_dummies(add_features(weather_df))))
    
    return clf.predict(df)

predict_df(lr_clf, pd.datetime.now().date(), pd.datetime.now().date() + pd.DateOffset(6))

Coordinates found for Jupiter Disco

array([1241.7336367 , 3536.0848449 , 3753.74371616,  680.95232168,
        739.03409497,  857.57840849, 1047.15573888])